<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="IUserDao" class="com.fff.dao.impl.UserDaoImpl"></bean>-->
    <!--    <bean id="IUserService" class="com.fff.service.impl.UserServiceImpl"></bean>-->

    <!--    <bean id="instanceFactory" class="com.fff.factory.InstanceFactory"></bean>-->
    <!--    <bean id="IUserService" factory-bean="instanceFactory" factory-method="getUserService"></bean>-->



</beans>